.FindPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: courier prime;
  }
  
  .rectangle {
    width: 800px;
    height: 400px;
    background-color: #dfdfdf;
    border: 3px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .label {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border: 3px solid #000000;
  }
  
  .layer {
    display: flex;
    width: 100%;
  }
  
  .layer:nth-child(1) {
    height: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
  }