.centerFrame {
    width: 800px;
    height: 400px;
    background-color: #E0E0E0;
    position: absolute;
    top: 310px;   
    left: 590px;
  }
  
  .signUpText {
    font-size: 28px;
    position: absolute;
    left: 914px;
    top: 324px;
  }

  .blackLine {
    width: 800px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 590px;
    top: 370px;
  }