* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
p {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.logo,
.navMenu,
.navbar {
  font-family: 'Courier Prime', Courier, monospace;
}

/* navbar */
.navbar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* 요소들을 좌우로 분산 배치합니다. */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 40px;
  height: 60px;
  z-index: 1000;
  border: 2px solid black; /* border 추가 */
}

/* logo  */
.logo {
  font-size: 30px;
  margin-right: auto;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  /* margin-left: auto; */
}

/* LogOut 버튼 추가 스타일 */
.logout {
  border: 1px solid black; /* border 추가 */
}
