/* 전체 프레임 스타일 */
.signup-frame {
  position: absolute;
  top: 310px;
  left: 590px;
  width: 800px;
  height: 400px;
  background-color: #EEEEEE;
  border: 1px solid #000000;
}

/* 회원가입 양식 스타일 */
.signup-form {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Sign-Up 버튼 스타일 */
.signup-button {
  position: absolute;
  top: 622px;
  left: 930px;
  width: 120px;
  height: 42px;
}

/* Sign-In 버튼 스타일 */
.signin-button {
  position: absolute;
  top: 677px;
  left: 952px;
  width: 76px;
  height: 20px;
  font-size: 18px;
}

/* 입력 요소 스타일 */
.input-container {
  position: absolute;
  width: 400px;
  height: 42px;
}

/* 입력 요소 레이블 스타일 */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 42px;
  line-height: 42px;
}

/* 입력 필드 스타일 */
.input-field {
  position: absolute;
  top: 0;
  left: 144px;
  width: 400px;
  height: 42px;
}
